body{
    padding: 2em;
    margin : 3em;
    text-align: center;
    background: linear-gradient(35deg, #a75ff0, #ff5fa7);
    color:#eee;
    vertical-align: middle;
    font-family: sans-serif;
}

h1{
    margin-bottom: 1em;
    text-shadow: 0px 0px 5px black;
}

#result,
#form
{
    background: linear-gradient(25deg, #077ff0, #0ff770);
    padding:1em;
    border-radius: 0.75em;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,50%);
}
#result{
    display: none;
    flex-direction: column;
    padding: 1em;
}


#form{
    margin:2%;
    padding: 2em;;
}

.btn{
    padding: 0.5em;
    width:10em;
    border-radius: 3em;
}
.btn-primary{
    background-color: rgba(0, 75, 255, 90%);
    color: #000;
    padding: 1%;
}

.btn-primary:hover{
    transform: scale(1.1, 1.2) ;
}

#place{
    display: block;
    margin: auto;
    width: 75%;
    text-align:center ;
    border-style: solid;
    height:3em;
    border-radius: 0.25em;
    background-color: #ddd;
    font-family: sans-serif;
    font-size: larger;
}

#place:focus{
    outline: none;
    background-color: #eeeeee;
}

span{
    display: block;
    height:3em;
}

#buffer{
    display: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

#img{
    border-style: none;
    border-radius: 50%;
}
#remarks{
    text-transform: capitalize;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;  
}

.res{
    display: flex;
    flex-direction: row;
    width:100%;
    opacity: 10;
    border-radius: 10em;

}

.col-right,
.col-left{
    border-style: dashed;
    border-color: #000;
    margin:10px;
    width: 50%;
    padding: 1%;
    text-align: center;
    font-family: cursive;
    box-shadow: 2px 0 5px 2px #000;
    font-size: x-large;
}

.col-right{
    border-top-right-radius: 10em;
    border-bottom-right-radius: 10em;
    border-left : none;
}
.col-left{
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
    border-right: none;
}

.res:hover{
    transform: scale(1.01, 1.01);
}